@model IEnumerable<Course>
@{
    Layout = "_TeacherLayout";
}

<div class="bg-primary text-center text-info"><h3> Ваші курси</h3></div>
<table class="table table-bordered table-striped">
    <tr><th>Назва</th></tr>
        @foreach (Course course in Model)
        {
            @if (course.IsActive)
            {
                <tr>
                    <td><a asp-action="CourseInfo" asp-route-Id="@course.Id">@course.Name</a></td>
                </tr>
            }
    
        }
</table>