<div id="flashMessage" style="text-align:center;">
    @if (ViewBag.SuccessMessage != null || TempData["SuccessMessage"] != null)
    {
        <p class="alert alert-success">
            @{
                var message = ViewBag.SuccessMessage ?? TempData["SuccessMessage"];
            }
            @Html.Raw(message)
        </p>
    }
    @if (ViewBag.ErrorMessage != null || TempData["ErrorMessage"] != null)
    {
        <p class="alert alert-danger">
            @{
                var message = ViewBag.ErrorMessage ?? TempData["ErrorMessage"];
            }
            @Html.Raw(message)
        </p>
    }
</div>

