@model School
@{
    ViewData["Description"] = "Додати школу";
    Layout = "_AdminLayout";
}

<form asp-action="CreateSchool" method="post">
    <div class="form-group">
        <label asp-for="Name">Назва</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UrlName">Url назва</label>
        <input asp-for="UrlName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Owner">Власник школи</label>
        <input class="form-control" id="ownerName" disabled />
        <input type="hidden" name="OwnerId" id="ownerId" class="form-control " />
        <button class="btn my-2" type="button" data-toggle="modal" data-target="#addPhoneModal">Додати власника</button>
    </div>
    <div class="text-center">
        <button class="btn btn-outline-primary" type="submit">Додати</button>
    </div>
</form>


<partial name="_AddUserModal" />
@section AdminScripts{
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/addUserModal.js"></script>
    <script>
        function updateUser(userIdent) {
            $("#ownerId").val(userIdent.id);
            $("#ownerName").val(userIdent.name);
            };
    </script>
}