@model Course
@{
    Layout = "_AdminLayout";
    ViewData["DescriptionDanger"] = "Видалення  - " + Model.Name;
}
@if (ViewBag.HasSubscriptions)
{
    <h2 class="text-danger"> Курс @Model.Name має абонементи:</h2>
    
    <h2> Будьласка спочатку видаліть абонементи</h2>
}
else
{
    <form asp-action="DeleteCourse" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden"name="SchoolId" value="@Model.SchoolId" />
        <div class="form-group">
            <label asp-for="Name">Назва</label>
            <input asp-for="Name" disabled />
        </div>
        <button type="submit" class="btn btn-danger">Видалити</button>
    </form>
}
