@model School
@{
    Layout = "_AdminLayout";
    ViewData["DescriptionDanger"] = "Видалення школи - " + Model.Name;
}
@if (Model.Courses.Count() > 0)
{
    <h2 class="text-danger"> Школа @Model.Name мaє курси:</h2>
    @foreach (var cours in Model.Courses)
    {
        <a asp-action="CourseDetails" asp-route-id="@cours.Id">@cours.Name </a><br />
    }
    <h2> Будьласка спочатку видаліть курси з школи</h2>
}
else
{
    <form asp-action="DeleteSchool" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="text-center"><button type="submit" class="btn btn-outline-danger">Видалити</button></div>
    </form>
}