@model AppUser
@{
    Layout = "_StudentLayout";
}
<div style="text-align:center;">
    <br />
    <p style="font-size:1.2em;">Ваш QR код для перевірки абонементу</p>
    <p>
        <a asp-action="DownloadFile" asp-route-id="@Model.Id" class="btn btn-primary">Завантажити</a>
    </p>
    <div>
        <img style="width:100%" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ViewBag.LoadedQrFile))" />
    </div>
</div>

