@model IEnumerable<Course>
@{
    Layout = "_StudentLayout";
}

<h2>
    <div class="bg-primary text-center text-info"><h3> All courses</h3></div>
</h2>

<table class="table table-bordered table-striped">
    <tr><th>Course Name</th><th>Course Description</th><th>Course Teachers</th><th></th></tr>
    @foreach(Course course in Model)
    {
        @if (course.IsActive)
        {
        <tr>
            <td>@course.Name</td>
            <td>@course.Description</td>
            <td>
                @foreach(var teacher in course.CourseAppUsers)
                {
                    @teacher.AppUser.FullName <br />
                }
            </td>
            <td><a asp-action="AddToCourse" asp-route-Id="@course.Id" class="btn btn-primary">Add to Course</a></td>
        </tr>
        }
    }
</table>