@{
    Layout = "_Layout";
}

<div>
    <div class=" text-center">
        <h2>@ViewData["Description"]</h2>
    </div>
</div>
<div class="bg-danger text-center"><h2>@ViewData["DescriptionDanger"]</h2></div>

<div>
    @RenderBody()
</div>

@section Scripts{
    @RenderSection("AdminScripts", required: false)
}