@{
    Layout = "_Layout";
}

<div style="text-align:center;">
    @RenderBody()
    <br />
    <br />
    <a asp-controller="Teacher" asp-action="TeacherCourses" class="@GetClassForButton("TeacherCourses")"> Статистика курсів</a>
</div>

@functions{
    string GetClassForButton(string action)
    {
        return "btn " + (ViewContext.RouteData.Values["action"] as string == action ? "btn-primary" : "btn-info");
    }
}