@{
    Layout = "_Layout";
}

<div>
    <a asp-controller="Teacher" asp-action="Index" class="@GetClassForButton("Index")"> Відсканувати учня </a>
    <a asp-controller="Teacher" asp-action="TeacherCourses" class="@GetClassForButton("TeacherCourses")"> Ваші активні курси </a>
    
</div>
<div>
    @RenderBody()
</div>
@functions{
    string GetClassForButton(string action)
    {
        return "btn " + (ViewContext.RouteData.Values["action"] as string == action ? "btn-primary" : "btn-info");
    }
}