@model IEnumerable<AppUser>
@{
    Layout = "_AdminLayout";
    ViewData["Description"] = "Користувачі";
}

<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<div>
    <table class="table table-sm table-striped table-bordered text-center" >
        <tr><th>Ім'я</th><th>Телефон</th></tr>
        @foreach (var usr in Model)
        {
            <tr>
                <td class="text-center" style="vertical-align:middle">
                    <a asp-action="UserDetails" asp-route-Id="@usr.Id" class="btn btn-default">
                        @usr.FullName
                    </a>
                    <br />
                    @if (usr.IsActive)
                    {
                        <i class="fas fa-check" style="color:green"> </i>
                    }
                    else
                    {
                        <i class="fas fa-times" style="color:red"> </i>
                    }
                </td>
                <td class="text-center" style="vertical-align:middle">@usr.PhoneNumber</td>
            </tr>
        }
    </table>
</div>

