@model IEnumerable<AppUser>
@{
    Layout = "_AdminLayout";
    ViewData["Description"] = "Користувачі";
}

<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<div>
    <table class="table table-sm table-striped table-bordered text-center">
        <tr><th>Ім'я</th><th>Телефон</th><th></th></tr>
        @foreach (var usr in Model)
        {
            <tr>
                <td>
                    <a asp-action="UserDetails" asp-route-Id="@usr.Id" class="btn btn-default">
                        @usr.FullName 
                    </a>
                    <br />
                    @if (usr.IsActive)
                    {
                        <i class="fas fa-check" style="color:green"> </i>
                    }
                    else
                    {
                        <i class="fas fa-times" style="color:red"> </i>
                    }
                </td>
                <td>@usr.PhoneNumber</td>
                <td>
                    <a asp-action="DeleteUser" asp-route-Id="@usr.Id" class="btn btn-outline-danger">Видалити</a>
                </td>
            </tr>
        }
    </table>
</div>

