@model IdentityRole
@{
    Layout = "_Layout";
    ViewData["Description"] = "Додати роль";
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="CreateRole" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
        </div>
    <button class="btn btn-primary" type="submit">Створити</button>
</form>


