@model IEnumerable<IdentityRole>
@{
    Layout = "_AdminLayout";
    ViewData["Description"] = "Ролі";
}

<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<div>
    <div class="list-group">
        @foreach(IdentityRole role in Model)
        {
            <div class="list-group-item text-center">
                <a asp-action="RoleDetails" asp-route-id="@role.Id" class="">@role.Name</a>
            </div>
        }
    </div>
</div>
<div class="text-center mt-2"><a asp-action="CreateRole" class="btn btn-outline-primary">Додати роль</a></div>