@model IdentityRole
@{
    Layout = "_AdminLayout";
    ViewData["Description"] = "Детальніше";
}

<div>
    <form asp-action="ChangeRole" method="post">
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
            <label asp-for="Name">Назва</label>
            <input asp-for="Name" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-default">Зберегти</button>
    </form>
    <div>
        <h4> Користувачі:</h4>

            @foreach (AppUser user in ViewBag.roleUsers)
            {
                <a asp-controller="User" asp-action="UserDetails" asp-route-id="@user.Id">
                    @user.FullName  
                </a><br />
            }
    </div>
</div>
