@model IdentityRole
@{
    Layout = "_AdminLayout";
}
<div>
    <form asp-action="ChangeRole" method="post">
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <button type="submit" class="btn btn-default">Save chenges</button>
    </form>
    <div>
        <h4> Users:</h4><br>
                        <p>
                            
                            @foreach (AppUser user in ViewBag.roleUsers)
                            {
                            <a asp-controller="User" asp-action="UserDetails" asp-route-id="@user.Id">
                                 User: @user.FullName   Email: @user.Email
                             </a><br />
                            }
                            </p>
</div>
</div>
<a asp-action="Index" class="btn btn-primary">Back to Roles</a>