
@{
    Layout = "_Layout";
}

<div class="text-center">
    <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#addPhoneModal">Додати за номером телефона</button>
</div>
<p style="font-size:1.2em">
    Відскануйте QR код абонементу
</p>
<div id="area-cameras-list">
</div>
<video id="preview" style="width:100%;height:50%;"></video>
<div class="text-center">
    <a class="btn btn-outline-primary" asp-action="AddOneTimeSubscription" asp-route-schoolId="@ViewBag.schoolId">
         Додати разове відвідуівння
    </a>
</div>

<partial name="_AddUserModal" />
@section Scripts{
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/addUserModal.js"></script>
    <script>
        $(function () {
            $("#scanQR").addClass('d-none');
        })
    </script>
    <script>
        function updateUser(userIdent) {
            QrCodeAction(userIdent.id);
        };
    </script>
    <script>
        var getUserInfoUrl = '@Url.Action("StudentInfo")';
        var schoolId = "@ViewBag.schoolId";
        function QrCodeAction(content) {
                window.location.href = getUserInfoUrl + "?studentId="
                + content + "&schoolId=" + schoolId;
        }
    </script>
    <script type="text/javascript">
        var cameras;
        var scanner;
        $(function () {
            $.getScript("/js/instascan.min.js", function () {
                scanner = new Instascan.Scanner({ video: document.getElementById('preview'), mirror: false });
                scanner.addListener('scan', function (content) {
                    QrCodeAction(content);
                });
                Instascan.Camera.getCameras().then(function (camerasList) {
                    cameras = camerasList;
                    if (cameras.length > 0) {
                        if (cameras.length > 1) {
                            var camerasArea = $("#area-cameras-list");
                            for (var i = 0; i < cameras.length; i++) {
                                if (i == cameras.length - 1) {
                                    camerasArea.append("<a class='list-group-item active' href='#' data-camera-id='" + cameras[i].id + "'>" + cameras[i].name + "</a><br/>")
                                }
                                else {
                                    camerasArea.append("<a class='list-group-item' href='#' data-camera-id='" + cameras[i].id + "'>" + cameras[i].name + "</a><br/>")
                                }
                            }
                        }
                        scanner.start(cameras[cameras.length - 1]);
                    } else {
                        console.error('No cameras found.');
                    }
                }).catch(function (e) {
                    console.error(e);
                });
            });

            $("body").on('click', '#area-cameras-list a', function () {
                $(".list-group-item").removeClass("active");
                $(this).addClass('active');
                var cameraId = $(this).attr('data-camera-id');
                var activeCamera = cameras.find(x => x.id === cameraId);
                scanner.start(activeCamera);
            });
        });
    </script>
}
