@model IEnumerable<School>
@{
    Layout = "_Layout";
}

<div class="text-center"><h3>Виберіть школу</h3></div>
<ul class="list-group">
     @foreach (var school in Model)
    {
        <li class="list-group-item text-center">
            <a asp-action="SelectSchool" asp-route-schoolId="@school.Id" asp-route-redirectValue="@ViewBag.redirectValue">@school.Name</a>
        </li>
    }

</ul>
