@model IEnumerable<School>
@{
    Layout = "_Layout";
}

<div class="text-center"><h3>Виберіть школу</h3></div>
<ul class="list-group">
    @foreach (var school in Model)
    {
        <li class="list-group-item text-center">
            <a asp-action="@ViewBag.redirectValue" asp-route-schoolId="@school.Id">@school.Name</a>
        </li>
    }

</ul>
